/*adds default color, backgorund color, and font to the body*/
body {font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;}

/*adds color, back ground color padding, alignment, border to the header*/
header {background-color: blue;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;}

/*adds a border, padding and alignment to the logo*/
.logo-container {display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 10px;}

/*adds size containt to the logo*/
.logo-container img {max-width: 100px;}

/*adds h1 size and font color to the logo*/
.logo-container h1 {margin-left: 10px;
    font-size: 24px;
    color: white;}

/*changes nav bar to read from left to right rather than up and down*/
nav {display: flex;}

nav ol {list-style: none;
    margin: 0;
    padding: 0;
    display: flex;}

/*adds marin to the nav bar*/
nav li {margin-right: 20px;}

nav a {text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;}
/*changes the color of the link whe hovered over*/
nav a:hover {color: lightblue;}

/*adds padding to main*/
main {padding: 20px;}

/*adds a margin to the main div*/
main div {margin-bottom: 20px;}

/*adds padding and a color to the footer*/
footer {background-color: red;
    color: white;
    text-align: center;
    padding: 10px;}

/*makes the logo in the footer circular and adds a border*/
footer img {max-width: 60px;
    border: 2px solid #ccc;
    border-radius: 50%;}

/*gives the company info in the footer have a constient margin and font size*/
.footer-info {margin-left: 20px;
    font-size: 12px;}

/*makes h3 and h2 use blue font color*/
h2, h3 {color: blue;}

/*makes the title of the webiste in the header and next to the logo larger, colored*/
h1 {margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #b2c5d1;
    text-transform: uppercase;}

/*adds small black border to all images apart form the logos*/
img {max-width: 100%;
    border: 1px solid black;}

/*sets the high of the <p> boxes*/
p {line-height: 1.5;}
